 <tr>
        <td><%= link_to 'Generar corizacion', cliente_cotizacions_path(cliente) %></td> 
        <td><%= cliente.nombre %></td>
        <td><%= cliente.empresa %></td>
        <td><%= cliente.nit %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.ciudad %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.correo %></td>
        <td><%= link_to 'Ver', cliente , class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Esta seguro ?' }, class: "btn btn-warning btn-xs" %></td>
</tr>