 <tr>
        <td class="warning"><%= link_to 'Generar corizacion', cliente_cotizacions_path(cliente) %></td> 
        <td class="success"><%= cliente.nombre %></td>
        <td class="danger"><%= cliente.empresa %></td>
        <td class="info"><%= cliente.nit %></td>
        
        <td><%= link_to 'Ver', cliente , class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Esta seguro ?' }, class: "btn btn-warning btn-xs" %></td>
</tr>