<center><h1 class="alert alert-info">Clientes</h1></center>

<%= form_tag clientes_path, :method => 'get' do %>
<% content_tag :label do %>
Buscar :
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Buscar", :nombre=> nil %>
<% end %>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
   
      <th class="warning">Cotizacion</th>
      <th class="success">Nombre</th>
      <th class="danger">Empresa</th>
      <th class="info">Nit</th>
    
    </tr>
  </thead>

  <tbody>
    <%= render @clientes %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo cliente', new_cliente_path, class: "btn btn-warning btn-xs" %>

<%= will_paginate @clientes, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
Clientes: <%= @clientes.count %>
