<p id="notice"><%= notice %></p>

<p>
  <strong>Lugar:</strong>
  <%= @experiencium.lugar %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @experiencium.cargo %>
</p>

<p>
  <strong>Jefe:</strong>
  <%= @experiencium.jefe %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @experiencium.tel %>
</p>

<p>
  <strong>Fchini:</strong>
  <%= @experiencium.fchini %>
</p>

<p>
  <strong>Fchfin:</strong>
  <%= @experiencium.fchfin %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @experiencium.motivo %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @experiencium.empleado %>
</p>

<%= link_to 'Edit', edit_experiencium_path(@experiencium) %> |
<%= link_to 'Back', experiencia_path %>
