<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @facturacion.fecha %>
</p>

<p>
  <strong>Fchven:</strong>
  <%= @facturacion.fchven %>
</p>

<p>
  <strong>Cotizacion:</strong>
  <%= @facturacion.cotizacion_id %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @facturacion.cliente_id %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @facturacion.telefono %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @facturacion.empresa %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @facturacion.nit %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @facturacion.producto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @facturacion.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @facturacion.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @facturacion.precio %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @facturacion.iva %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @facturacion.subtotal %>
</p>

<%= link_to 'Edit', edit_facturacion_path(@facturacion) %> |
<%= link_to 'Back', facturacions_path %>
