<%= form_for(@novedade) do |f| %>
  <% if @novedade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@novedade.errors.count, "error") %> prohibited this novedade from being saved:</h2>

      <ul>
      <% @novedade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :iniciovacaciones %><br>
    <%= f.date_select :iniciovacaciones %>
  </div>
  <div class="field">
    <%= f.label :finvacaciones %><br>
    <%= f.date_select :finvacaciones %>
  </div>
  <div class="field">
    <%= f.label :prendasrealizadas %><br>
    <%= f.number_field :prendasrealizadas %>
  </div>
  <div class="field">
    <%= f.label :valorprenda %><br>
    <%= f.number_field :valorprenda %>
  </div>
  <div class="field">
    <%= f.label :sueldobasico %><br>
    <%= f.number_field :sueldobasico %>
  </div>
  <div class="field">
    <%= f.label :primalegal %><br>
    <%= f.number_field :primalegal %>
  </div>
  <div class="field">
    <%= f.label :festivostrabajados %><br>
    <%= f.number_field :festivostrabajados %>
  </div>
  <div class="field">
    <%= f.label :diasnotrabajados %><br>
    <%= f.number_field :diasnotrabajados %>
  </div>
  <div class="field">
    <%= f.label :horasnotrabajadas %><br>
    <%= f.number_field :horasnotrabajadas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
