<h1>Novedades</h1>

<table>
  <thead>
    <tr>
      <th>Fechavacaciones</th>
      <th>Finvacaciones</th>
      <th>Cesantias</th>
      <th>Primalegal</th>
      <th>Primavacaciones</th>
      <th>Sueldobasico</th>
      <th>Horasextras</th>
      <th>Recargosdiurnos</th>
      <th>Dominicales</th>
      <th>Festivos</th>
      <th>Comiciones</th>
      <th>Diasnotrabajados</th>
      <th>Horasnotrabajadas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @novedades.each do |novedade| %>
      <tr>
        <td><%= novedade.fechavacaciones %></td>
        <td><%= novedade.finvacaciones %></td>
        <td><%= novedade.cesantias %></td>
        <td><%= novedade.primalegal %></td>
        <td><%= novedade.primavacaciones %></td>
        <td><%= novedade.sueldobasico %></td>
        <td><%= novedade.horasextras %></td>
        <td><%= novedade.recargosdiurnos %></td>
        <td><%= novedade.dominicales %></td>
        <td><%= novedade.festivos %></td>
        <td><%= novedade.comiciones %></td>
        <td><%= novedade.diasnotrabajados %></td>
        <td><%= novedade.horasnotrabajadas %></td>
        <td><%= link_to 'Ver', novedade %></td>
        <td><%= link_to 'Editar', edit_novedade_path(novedade) %></td>
        <td><%= link_to 'Eliminar', novedade, method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Novedad', new_novedade_path %>




