<h1>Listing novedades</h1>

<table>
  <thead>
    <tr>
      <th>Iniciovacaciones</th>
      <th>Finvacaciones</th>
      <th>Prendasrealizadas</th>
      <th>Valorprenda</th>
      <th>Total</th>
      <th>Sueldobasico</th>
      <th>Primalegal</th>
      <th>Festivostrabajados</th>
      <th>Diasnotrabajados</th>
      <th>Horasnotrabajadas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @novedades.each do |novedade| %>
      <tr>
        <td><%= novedade.iniciovacaciones %></td>
        <td><%= novedade.finvacaciones %></td>
        <td><%= novedade.prendasrealizadas %></td>
        <td><%= novedade.valorprenda %></td>
        <td><%= suma(novedade.prendasrealizadas, novedade.valorprenda) %></td>
        <td><%= novedade.sueldobasico %></td>
        <td><%= novedade.primalegal %></td>
        <td><%= novedade.festivostrabajados %></td>
        <td><%= novedade.diasnotrabajados %></td>
        <td><%= novedade.horasnotrabajadas %></td>
        <td><%= link_to 'Show', novedade %></td>
        <td><%= link_to 'Edit', edit_novedade_path(novedade) %></td>
        <td><%= link_to 'Destroy', novedade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Novedade', new_novedade_path %>


<p>
  Descargar:
  <%= link_to "CSV", novedades_path(format: "csv") %> |
  <%= link_to "Excel", novedades_path(format: "xls") %>
</p>

