<h1>Novedad del Empleado </h1>

<table>
  <thead>
    <tr>
      <th>Iniciovacaciones</th>
      <th>Finvacaciones</th>
      <th>Prendasrealizadas</th>
      <th>Valorprenda</th>
      <th>Total</th>
      <th>Sueldobasico</th>
      <th>Primalegal</th>
      <th>Festivostrabajados</th>
      <th>Diasnotrabajados</th>
      <th>Horasnotrabajadas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @novedades.each do |novedade| %>
      <tr>
        <td><%= novedade.iniciovacaciones %></td>
        <td><%= novedade.finvacaciones %></td>
        <td><%= novedade.prendasrealizadas %></td>
        <td><%= novedade.valorprenda %></td>
        <td><%= sumas(novedade.prendasrealizadas, novedade.valorprenda) %></td>
        <td><%= novedade.sueldobasico %></td>
        <td><%= novedade.primalegal %></td>
        <td><%= novedade.festivostrabajados %></td>
        <td><%= novedade.diasnotrabajados %></td>
        <td><%= novedade.horasnotrabajadas %></td>
        <td><%= link_to 'Ver', empleado_novedade_path(@empleado,novedade) %></td>
        <td><%= link_to 'Editar', edit_empleado_novedade_path(@empleado,novedade)%></td>
        <td><%= link_to 'Eliminar', empleado_novedade_path(@empleado,novedade), method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Novedad', new_empleado_novedade_path(@empleado) %>



<p>
  Download:
  <%= link_to "CSV", empleado_novedades_path(format: "csv") %> |
  <%= link_to "Excel", empleado_novedades_path(format: "xls") %>
</p>

