<p id="notice"><%= notice %></p>

<p>
  <strong>Iniciovacaciones:</strong>
  <%= @novedade.iniciovacaciones %>
</p>

<p>
  <strong>Finvacaciones:</strong>
  <%= @novedade.finvacaciones %>
</p>

<p>
  <strong>Prendasrealizadas:</strong>
  <%= @novedade.prendasrealizadas %>
</p>

<p>
  <strong>Valorprenda:</strong>
  <%= @novedade.valorprenda %>
</p>

<p>
  <strong>Sueldobasico:</strong>
  <%= @novedade.sueldobasico %>
</p>

<p>
  <strong>Primalegal:</strong>
  <%= @novedade.primalegal %>
</p>

<p>
  <strong>Festivostrabajados:</strong>
  <%= @novedade.festivostrabajados %>
</p>

<p>
  <strong>Diasnotrabajados:</strong>
  <%= @novedade.diasnotrabajados %>
</p>

<p>
  <strong>Horasnotrabajadas:</strong>
  <%= @novedade.horasnotrabajadas %>
</p>

<%= link_to 'Edit', edit_novedade_path(@novedade) %> |
<%= link_to 'Back', novedades_path %>
