<p id="notice"><%= notice %></p>

<p>
  <strong>Fechavacaciones:</strong>
  <%= @novedade.fechavacaciones %>
</p>

<p>
  <strong>Finvacaciones:</strong>
  <%= @novedade.finvacaciones %>
</p>

<p>
  <strong>Cesantias:</strong>
  <%= @novedade.cesantias %>
</p>

<p>
  <strong>Primalegal:</strong>
  <%= @novedade.primalegal %>
</p>

<p>
  <strong>Primavacaciones:</strong>
  <%= @novedade.primavacaciones %>
</p>

<p>
  <strong>Sueldobasico:</strong>
  <%= @novedade.sueldobasico %>
</p>

<p>
  <strong>Horasextras:</strong>
  <%= @novedade.horasextras %>
</p>

<p>
  <strong>Recargosdiurnos:</strong>
  <%= @novedade.recargosdiurnos %>
</p>

<p>
  <strong>Dominicales:</strong>
  <%= @novedade.dominicales %>
</p>

<p>
  <strong>Festivos:</strong>
  <%= @novedade.festivos %>
</p>

<p>
  <strong>Comiciones:</strong>
  <%= @novedade.comiciones %>
</p>

<p>
  <strong>Diasnotrabajados:</strong>
  <%= @novedade.diasnotrabajados %>
</p>

<p>
  <strong>Horasnotrabajadas:</strong>
  <%= @novedade.horasnotrabajadas %>
</p>

<%= link_to 'Edit', edit_novedade_path(@novedade) %> |
<%= link_to 'Back', nominas_path %>
