<h1>Cotizaciones de: <%= @cliente.nombre %></h1>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Telefono</th>
      <th>Empresa</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizacions.each do |cotizacion| %>
      <tr>
        <td><%= cotizacion.cliente %></td>
        <td><%= cotizacion.telefono %></td>
        <td><%= cotizacion.empresa %></td>
        <td><%= link_to 'Ver', cotizacion %></td>
        <td><%= link_to 'Editar', edit_cotizacion_path(cotizacion) %></td>
        <td><%= link_to 'Eliminar', cotizacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.nuevo")), 
 
new_cliente_cotizacion_path(@cliente), 
 
:class => 'btn btn­primary' %> 


<%= will_paginate @cotizacions, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente 
&raquo;' %> 
<br> 
Cotizaciones: <%= @cotizacions.count %>

