<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @cotizacion.cliente.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cotizacion.cliente.telefono %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @cotizacion.cliente.empresa %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @cotizacion.cliente.nit %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @cotizacion.producto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @cotizacion.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @cotizacion.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @cotizacion.precio %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @cotizacion.iva %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @cotizacion.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @cotizacion.total %>
</p>

<p> 
<strong>Estado:</strong> 
<%= mostrar_estado(@cotizacion.estado) %> 
</p> 

<%= link_to 'Editar', edit_cliente_cotizacion_path(@cliente,@cotizacion) %> |
<%= link_to 'Atras', cliente_cotizacions_path(@cliente) %>
