<div class="pagina">
<center><h1>Listado de Nomina</h1></center>

<%= form_tag nominas_path, :method => 'get' do %> 
<% content_tag :label do %> 
Buscar por: 
<%= text_field_tag :search, params[:search] %> 
<%= submit_tag "Buscar", :empleado_id => nil %> 
<% end %> 
<% end %> 

<table class="table table-condensed">
  <thead>
    <tr>
      
      <th>Empleado</th>
      <th colspan="3" class="config">Configuracion</th>
      <th>Estado</th>
      <br>
      <th class="foto">Foto</th>
 
      
    </tr>
  </thead>

  <tbody>
    <% @nominas.each do |nomina| %>
      <tr>
      
        <td><%= nomina.empleado.nombre %></td>
        <td><%=
          if nomina.estado == true
            button_to 'Ver', nomina, :method => "get", class: "btn btn-primary"
          else
            button_to 'Ver', nomina, class: "btn btn-primary disabled", :method => "get"
          end  %></td>
        <td><%= button_to 'Editar', edit_nomina_path(nomina), :method => "get", class: "btn btn-success" %></td>
        <td><%=
          if nomina.estado == true
          button_to 'Eliminar', nomina, method: :delete, data: { confirm: 'Esta Seguro, Esto No Se Puede Reponer?' }, :method => "delete", class: "btn btn-danger"
          else
            button_to 'Eliminar', nomina, method: :delete, data: { confirm: 'Esta Seguro, Esto No Se Puede Reponer?' }, :method => "delete", class: "btn btn-danger disabled"
          end
         %></td>
        <td><%= estado(nomina.estado) %></td>


        
        <td><%= image_tag nomina.image.url(:thumb) %></td>
       

        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Nomina', new_nomina_path %>

<%= will_paginate @nominas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente 
&raquo;' %> 
<br> 
Nominas: <%= @nominas.count %> 

<h5>
  Descargar Formato:
  <%= link_to "CSV", nominas_path(format: "csv") %> |
  <%= link_to "Excel", nominas_path(format: "xls") %>
</h5>

</div>

