<p id="notice"><%= notice %></p>
<p>
  <strong>Empleado:</strong>
  <%= @nomina.empleado.nombre %>
</p>

<p>

<p>
  <strong>Salario:</strong>
  <%= @nomina.salario_id %>
</p>

<p>
  <strong>Horas Extras:</strong>
  <%= @nomina.horasextras %>
</p>

<p>
  <strong>Recargos Diurnos:</strong>
  <%= @nomina.recargosdiurnos %>
</p>

<p>
  <strong>Recargos Nocturnos:</strong>
  <%= @nomina.recargosnocturnos %>
</p>

<p>
  <strong>Dominicales:</strong>
  <%= @nomina.dominicales %>
</p>

<p>
  <strong>Festivos:</strong>
  <%= @nomina.festivos %>
</p>

<p>
  <strong>Comisiones:</strong>
  <%= @nomina.comisiones %>
</p>

<p>
  <strong>Dias no Trabajados:</strong>
  <%= @nomina.diasnotrabajados %>
</p>

<p>
  <strong>Horas no Trabajadas:</strong>
  <%= @nomina.horasnotrabajadas %>
</p>



<%= link_to 'Editar', edit_nomina_path(@nomina) %> |
<%= link_to 'Atras', nominas_path %>

<p><%= link_to 'Generar Constancias (PDF) ', nomina_path(@nomina, format: 'pdf')%></P> 