<p id="notice"><%= notice %></p>

<p>
  <strong>Salariobasico:</strong>
  <%= @nomina.salariobasico %>
</p>

<p>
  <strong>Horasextras:</strong>
  <%= @nomina.horasextras %>
</p>

<p>
  <strong>Recargosdiurnos:</strong>
  <%= @nomina.recargosdiurnos %>
</p>

<p>
  <strong>Recargosnocturnos:</strong>
  <%= @nomina.recargosnocturnos %>
</p>

<p>
  <strong>Dominicales:</strong>
  <%= @nomina.dominicales %>
</p>

<p>
  <strong>Festivos:</strong>
  <%= @nomina.festivos %>
</p>

<p>
  <strong>Comisiones:</strong>
  <%= @nomina.comisiones %>
</p>

<p>
  <strong>Diasnotrabajados:</strong>
  <%= @nomina.diasnotrabajados %>
</p>

<p>
  <strong>Horasnotrabajadas:</strong>
  <%= @nomina.horasnotrabajadas %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @nomina.empleado %>
</p>

<%= link_to 'Edit', edit_nomina_path(@nomina) %> |
<%= link_to 'Back', nominas_path %>
