<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Documento</th>
      <th>Estado</th>
      <th>Crear - Novedades</th>
    </tr>
  </thead>

  <tbody> 
    <% @empleados.each do |empleado| %>
      <tr>
        <td class="bg-warning"><%= empleado.nombre %></td>
        <td class="bg-warning"><%= empleado.doc %></td>
        <td class="bg-warning"><%= link_to 'Registrar-Novedad', new_novedade_path %></td>
    <% end %>

  </tbody> 
</table>

<br>

<center><p>
  <%= link_to "CSV", novedades_path(format: "csv"), class: "btn btn-primary btn-xs" %> |
  <%= link_to "Excel", novedades_path(format: "xls"), class: "btn btn-primary btn-xs" %>
</p></center>





