<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Documento</th>
      <th>Estado</th>
      <th>Crear - Novedades</th>
    </tr>
  </thead>

  <tbody> 
    <% @empleados.each do |empleado| %>
      <tr>
        <td ><%= empleado.nombre %></td>
        <td ><%= empleado.doc %></td>
        <td ><%= mostrar_estado(empleado.activo) %></td>
        <% if empleado.activo == false %>
           <td class="bg-danger">Novedad No Permitida</td>
        <% else %>
          <td ><%= link_to 'Registrar Novedad', empleado_novedades_path(empleado) %></td>
        <% end %>
    <% end %>

  </tbody> 
</table>

<br>


<center>Total de Empleados: <%= (@empleados.count) %><center>
<p>

  Download:
  <%= link_to "Excel", lista_novedades_path(format: "xls") %>
</p>


