<h1>Listing empleados</h1>

<%= form_tag empleados_path, :method => 'get' do %>
<% content_tag :label do %>
Buscar:
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Buscar", :nombre => nil %>
<% end %>
<% end %>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dococumento</th>
      <th>Estado</th>
      <th>Direccion</th>
      <th>Barrio</th>
      <th>Ciudad</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Genero</th>
      <th>Fecha inicio</th>
      <th>Fecha final</th>
      <th>Cargo</th>
      <th>Referencia</th>
      <th>Telefono referencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.nombre %></td>
        <td><%= empleado.doc %></td>
        <td><%= empleado.estado.name %></td>
        <td><%= empleado.direccion %></td>
        <td><%= empleado.barrio %></td>
        <td><%= empleado.ciudad %></td>
        <td><%= empleado.telefono %></td>
        <td><%= empleado.celular %></td>
        <td><%= empleado.correo %></td>
        <td><%= mostrar_genero(empleado.genero) %></td>
        <td><%= empleado.fchinicio %></td>
        <td><%= empleado.fchfinal %></td>
        <td><%= empleado.cargo %></td>
        <td><%= empleado.ref %></td>
        <td><%= empleado.telref %></td>
        <td><%= link_to 'Show', empleado %></td>
        <td><%= link_to 'Edit', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Destroy', empleado, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo registro', new_empleado_path %>

<%= will_paginate @empleados, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
empleados: <%= @empleados.count %>