<center><h1 class="alert alert-info">Lista de inventarios</h1></center>



<%= form_tag inventarios_path, :method => 'get' do %> 
<% content_tag :label do %> 
Buscar por producto: 
<%= text_field_tag :search, params[:search] %> 
<%= submit_tag "Buscar", :productos => nil %> 
<% end %> 
<% end %> 

<table class="table table-condensed">
  <thead>
    <tr>
      <th class="info">Productos</th>
      <th class="success">Cantidad</th>
      <th class="danger">valor unitario</th>
      <th class="warning">Precio</th>
      <th class="success">Opciones</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventarios.each do |inventario| %>
      <tr>
        <td class="info"><%= inventario.productos %></td>
        <td class="success"><%= inventario.cantidad %></td>
        <td class="danger"><%= inventario.valor %></td>
        <td class="warning"><%= suma(inventario.cantidad, inventario.valor) %></td>
        <td class="success"><%= link_to 'Ver', inventario, class: "btn btn-primary btn-xs" %></td>
        <td class="success"><%= link_to 'Editar', edit_inventario_path(inventario), class: "btn btn-primary btn-xs" %></td>
        <td class="success"><%= link_to 'Eliminar', inventario, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Inventario', new_inventario_path, class: "btn btn-warning btn-xs" %>

<%= will_paginate @inventarios, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente 
&raquo;' %> 
<br> 
Inventarios: <%= @inventarios.count %> 