<p id="notice"><%= notice %></p>

<p>
  <strong>Productos:</strong>
  <%= @inventario.productos %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @inventario.cantidad %>
</p>

<p>
  <strong>valor:</strong>
  <%= @inventario.productos %>
</p>


<%= link_to 'Edit', edit_inventario_path(@inventario), class: "btn btn-primary btn-xs" %> |
<%= link_to 'Back', inventarios_path, class: "btn btn-primary btn-xs" %>

<p><%= link_to 'Generar (PDF)', inventario_path(@inventario, format: 'pdf'), class: "btn btn-primary btn-xs"%></P>