<li><%= link_to "Categoria", categoria_path %></li>
<li><%= link_to "Nomina", nominas_path %></li>
<li><%= link_to "Clientes", clientes_path %></li>
<li><%= link_to "Cotizaciones", cotizaciones_path %></li>
<li><%= link_to "Estudios", estudios_path %></li>
<li><%= link_to "Experiencias", experiencia_path %></li>
<li><%= link_to "Facturaciones", facturacions_path %></li>
<li><%= link_to "Inventario De insumos", inventarios_path %></li>
